.od-test-xl {
  line-height: 24px;
  font-size: 16px;
  font-weight: 500;
}
.od-test-sm {
  line-height: 24px;
  font-size: 16px;
  font-weight: 500;
}
.od-test-base {
  line-height: 24px;
  font-size: 16px;
  font-weight: 500;
}
.od-test-xs {
  line-height: 24px;
  font-size: 16px;
  font-weight: 500;
}
.od-test-lg {
  line-height: 24px;
  font-size: 16px;
  font-weight: 500;
}
